doctype html
html(lang="en", ng-app='angularRoutingApp')
    head
        meta(charset="UTF-8")
        title Work With HTML
        // js
        script(src="js/external/jquery-1.10.1.min.js")
        script(src="//code.jquery.com/ui/1.10.4/jquery-ui.js")
        script(src="js/external/ghostdown.js")
        // css
        link(href="css/ghostdown.css", media="all", rel="stylesheet")
        link(href="css/font-awesome.css", media="all", rel="stylesheet")
        link(href="css/chrono.css", media="all", rel="stylesheet")
        link(href="css/ng-table.css", media="all", rel="stylesheet")
        link(href="css/custom.css", media="all", rel="stylesheet")

        // Latest compiled and minified CSS
        link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
        // Optional theme
        link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css")
        // Latest compiled and minified JavaScript
        script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
        link(rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/textAngular/1.5.0/textAngular.min.css')
        link(rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css")
        script(src='//momentjs.com/downloads/moment.js')

    body
    
        a(href="https://github.com/ayxos/htmlEditor")
          img(style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png")

        a#toggleDown.btn.btn-link(style='margin: 0 20px; display: none', ng-click='toggleNav()') Menu

        #navbar(ui-view='header')

        .features(ui-view='content')

        script.
          var domainUrl="#{domain}";

        script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.7/angular.min.js')
        script(src='//angular-ui.github.io/ui-router/release/angular-ui-router.js')
        script(src="//cdnjs.cloudflare.com/ajax/libs/angular-resource/1.6.4/angular-resource.min.js")
        script(src='//cdnjs.cloudflare.com/ajax/libs/angular-moment/0.10.1/angular-moment.min.js')

        script(src="js/external/ng-table.min.js")

        script(src="js/external/jquery.ghostdown.js")
        script(src="js/external/jquery.fittext.js")

        script(src='//cdnjs.cloudflare.com/ajax/libs/textAngular/1.5.0/textAngular-rangy.min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/textAngular/1.5.0/textAngular-sanitize.min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/textAngular/1.5.0/textAngular.min.js')

        script(src='js/ngAnnotated.js')
