header .left {
	float: left;
}
#navbar {
	background: rgb(250, 250, 250);
	width: 80%;
	margin: auto auto;
	padding: 10px;
}
.revenue {
	display: inline-table;
}
.controls {
	margin-top: 2%;
	display: inline-block;
	width: 100%;
}
.margin-sm {
	margin: 1%;
}
.table.workNotes {
	width: 94%;
	margin: auto auto;
}
#time {
	font-weight: bold;
	display: inline-block;
	margin: auto auto;
	font-size: initial !important;
}
.inline {
	display: inline-block;
}
.inline.table {
	display: inline-table;
}
.navbar-right {
	width: 38%;
}
#navbar {
	height: 56px;
}
.form-control.expanded:focus {
	height: 200px;
	width: 300px;
}
.rendered-markdown strong {
	display: block;
}
htmlEditor {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
	margin: 0 0 10px;
}
.note {
	margin: 100px;
}

button[name="html"], button[name="html"].btn-default[disabled] {
	background: yellow;
}

.intro {
    margin: 1% 10% 2%;
    padding: 1%;
	background-color: #ffffcc;
    border-left: 6px solid #ffeb3b;
}