
<div ng-class="alert.class" role="alert" style="display:none;width: 200px;margin:auto auto" class="alert alert-dismissible">
  <button type="button" onclick="$('.alert').hide()" class="close"><span aria-hidden="true">&times;</span></button>
  <p ng-bind="alert.message"></p>
</div>
<ul class="nav navbar-nav"><a ng-href="{{domain}}/" class="btn btn-link"> Home</a><a ng-href="{{domain}}/#/about" class="btn btn-link"> About us</a><a ng-href="{{domain}}/#/worknotes" ng-if="user.fullName" class="btn btn-link"> WorkNotes</a><a id="login" ng-href="{{domain}}/login" ng-if="!user.fullName" class="btn btn-link"> Login</a>
  <div ng-if="user.fullName" style="display:inline-block" class="dropdown">
    <button id="menu1" type="button" data-toggle="dropdown" class="btn btn-link dropdown-toggle">{{user.fullName}}</button><span class="caret"></span>
    <ul role="menu" aria-labelledby="menu1" class="dropdown-menu">
      <li role="presentation" ng-repeat="article in articles" ng-if="articles.length"><a role="menuitem" tabindex="-1" ng-click="load($index)" style="display:inline-block">{{article.title}}</a><i ng-click="delete(article._id)" class="icon-remove"></i></li>
      <li role="presentation" ng-if="!articles.length"><a tabindex="-1">No text yet</a></li>
      <li role="presentation" class="divider"></li>
      <li role="presentation"><a ng-href="{{domain}}/logout" tabindex="-1">Logout</a></li>
    </ul>
  </div>
</ul>
<ul class="nav navbar-nav navbar-right">
  <div id="stopWatch" style="margin: 0 4%" class="inline">
    <div id="time" class="pointable">00:00:00</div>
    <div id="divStart" class="inline"><a id="btnStart" style="font-weight:bold;" data-do="start"><i class="icon-play"></i></a></div>
    <div id="divControls" style="display:none;margin: 0 2px" class="row inline"><a id="btnPause" style="margin: 0 2px"><i class="icon-pause"></i></a><a id="btnStop" style="margin: 0 2px"><i class="icon-repeat"></i></a></div>
  </div>
  <select id="sel1" style="width:100px;display:inline-block" class="form-control">
    <option value="en">To English</option>
    <option value="es">To Spanish</option>
    <option value="fr">To French</option>
    <option value="de">To German</option>
    <option value="pt">To Portuguese</option>
  </select>
  <button type="button" data-toggle="modal" data-target="#myModal" ng-if="user.fullName" class="btn btn-primary">Save</button><a style="margin: 0 20px" ng-click="toggleNav()"><i class="icon-upload"></i></a>
</ul>
<!-- Modal-->
<div id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" class="modal fade">
  <div role="document" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">&#215;</span></button>
        <h4 id="myModalLabel" class="modal-title">Saving post</h4>
      </div>
      <div class="modal-body">
        <div style="margin-bottom:2%" class="input-group"><span id="basic-addon1" class="input-group-addon">Create new</span>
          <input type="text" placeholder="New post" aria-describedby="basic-addon1" ng-model="title" class="form-control"/>
        </div>
        <ul class="list-group">
          <li role="presentation" ng-repeat="article in articles" ng-if="articles.length" class="list-group-item"><a role="menuitem" tabindex="-1" ng-click="load(article)" style="display:inline-block">{{article.title}}</a>
            <div style="float:right" class="options"><i ng-click="update(article._id)" class="icon-refresh"></i><i ng-click="delete(article._id)" class="icon-remove"></i></div>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="close-modal btn btn-default">Close</button>
        <button ng-click="save()" data-dismiss="modal" class="btn btn-success"> Save</button>
      </div>
    </div>
  </div>
</div>