doctype html
html
  head
    title HtmlEditor
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')

  body
    block content

    .text-center
      p
        | A project by
        a(href='http://ayxos.com') M.A.P.S
